<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/style.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h2>Hello, please REGISTER</h2>
        <form action="/register" method="post">
            <label for="login">Login:</label>
            <input type="text" id="login" name="login"/><br><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password"/><br>
            <input type="submit" value="Register new User"/>
        </form>
        <br>
        <div>
            <a href="/">
                <button>Go to Main</button>
            </a>
        </div>
    </div>
</body>
</html>